
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">
    <title>Document</title>
</head>


<!-- footer.ejs -->
<footer class="footer">
    <p class="footer-text">&copy; 2024 Your Blog. All rights reserved.</p>
</footer>
